 body {
   height:100%;
}
html {
  margin-top:0 !important;
}
a , .no-decoration {
  text-decoration: none;
}
.overflow-scroll-y {
  overflow-y: scroll!important;
}
.ratio-1 {
  aspect-ratio:1
}
.top-75 {
  top:75%;
}
.top-25 {
  top:25%
}
.overflow-x-scroll{
  overflow-x: scroll!important;
}
.text-justify {
  text-align: justify;
}
.z-10 {
  z-index: 10;
}
.rtl {
  direction: ltr;
}
 .ltr {
  direction: rtl;
}
.lazy {
  transition: all 0.3s ease-in-out;
}
// SCROLL bar styles
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
}
*::selection {
  background: $secondary;
  color:white!important;
}
.d-rtl {
  direction:ltr!important;
}
 .d-ltr {
   direction:rtl!important;
 }
 .bg-cover {
   background-size: cover;
 }
 .page-numbers {
   list-style: none;
   display: flex;
   justify-content: center;
   flex-wrap:wrap;
   padding: 4px;
   gap:0 6px ;
   li {
     .page-numbers {
       border: 1px solid rgba(0, 0, 0, 0.19);
       border-radius: 7px;
       aspect-ratio: 1;
       padding: 7px;
       color: $dark;
       transition: all 200ms linear;
       &.current , &:hover {
         background-color: $dark;
         color:white
       }
     }
   }
 }
 .marker-primary {
   list-style: square;
   li::marker {
     color:$primary;
   }
 }