// Base styles
.btn {
    display: inline-block;
    font-family: $font-family-base;
    color: $body-text;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    line-height:normal;
    vertical-align: middle;
    border: unset;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    @include transition($btn-transition);
    outline: 0 !important;
    z-index: 1;
    position: relative;
    &:focus {
      box-shadow: unset;
    }
    &:disabled,
    &.disabled,
    fieldset:disabled & {
        pointer-events: none;
        opacity: $btn-disabled-opacity;
        @include box-shadow(none);
    }
}
.btn-primary {
        color: $primary;
        border: 1px solid $primary;
        background-image: -webkit-linear-gradient(100deg, transparent 50%, $primary 50% );
        background-image: linear-gradient(100deg, transparent 50%, $primary 50%);
        background-size: 210%;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        .chervon-1{
          transition: all 300ms ease-in-out;
        }
        &:hover {
          .chervon-1 {
            stroke:white;
          }
            background-position: 100%;
            color: #fff;
    }
}
.btn-white {
        color: #fff;
        border: 1px solid $white;
        background-image: -webkit-linear-gradient(100deg, transparent 50%, $white 50%);
        background-image: linear-gradient(100deg, transparent 50%, $white 50%);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        &:hover {
            background-position: 100%;
            color: $primary;
    }
}
.btn-fixed {
  width: 45px;
  height: 45px;
  bottom: 15px;
  z-index: 9;
  line-height: 2.4;

  &:hover, &:focus {
    animation: pulse 0.6s;
    box-shadow: 0 0 0 1.5em transparent;
  }
}
.backTo_Top {
  left :15px;
}
