.gform-body {
  .gform_fields {
    gap: 25px!important;
  }
  select, input, textarea {
    background-color: $dark!important;
    color:white!important;
  }
  .gfield_label{
    color:white!important;
  }
}
.gform_heading , .gform_validation_errors , .gfield_validation_message {
  display:none!important;
}